@* LICENSEURI https://yuruna.link/license *@
@* Copyright (c) 2019-2026 by Alisson Sol et al. *@
@page
@model IndexModel
@{
    ViewData["Title"] = "yrn42website-uxname";
}

<div class="text-center">
    <h1 class="display-4">Welcome to yrn42website-uxname</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
