@* LICENSEURI https://yuruna.link/license *@
@* Copyright (c) 2019-2026 by Alisson Sol et al. *@
@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
