# LICENSEURI https://yuruna.link/license
# Copyright (c) 2019-2026 by Alisson Sol et al.
# Key material never enters a build stage; the pod receives its certificate from
# a Kubernetes Secret at run time.
**/*.pfx
**/*.p12
**/*.pem
**/*.key
